.carouselWrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%; /* Ensure the wrapper takes the full width of the container */
}

.carouselItem {
    min-width: 100%; /* Ensure each item takes the full width of the container */
    box-sizing: border-box;
}

.carouselImage {
    width: 100%;
    object-fit: cover;
    height: auto;
}
